<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mercado liebre </title>
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/formularios.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

</head>

<body>
    <header>
        <section class="header-superior">
        <div class="main-header-top-bar">
            <img src= "/img/logo-mercado-liebre.svg"  width= "200" alt="logo de mercado liebre"> 
        </div>

        <section class="barra-busqueda"> 
            <form action="/buscar" method="POST">
                <div class="busqueda">
                    <input type="text" placeholder="Buscá productos, marcas y más" required>
                </div>
                <div class="lupa">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </section>


        <section class="copy-header">
            <i class="fas fa-hand-holding-usd"></i> 
            Comprá en cuotas y sin tarjeta de crédito
        </section>
    </section>
        

        <div class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </div>
        
        
        <nav class="navbar">
            <ul class="left-navbar">
                <li><a href='#'> Ofertas</a></li>
                <li><a href='#'> Tiendas Oficiales</a></li>
                <li><a href='#'> Vender</a></li>
                <li><a href='#'> Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href='/register'>Creá tu cuenta</a><i class="fas fa-user"></i></li>
                <li><a href='/login'> Ingresá </a> <i class="fas fa-sign-in-alt"></i> </li>
                <li><a href='#'> Mis compras </a> <i class="fas fa-shopping-basket"></i></li>
            </ul>   
        </nav>        

    
        
    </header>

        <section>
            <img src="/img/img-home-banner.jpg" width=100% alt="Banner de Ofertas" >
        </section>


    <main> 
        <h3> Productos</h3>

    <section class="ultima-visita">
        
        <h3> Basado en tu última visita </h3>

        <article class= "articulo">
            <img src= '/img/img-cafetera-moulinex.jpg' width=75% alt='cafetera'>
            <section class="descripcion">
                <i class="fas fa-truck camion" ></i>
                <section class="precioydescuento">
                    <p class="precio">$6.770</p>
                    <p class="descuentos">40%OFF</p>
                </section>
                <h4 class="nombre"> Cafetera Moulinex </h4> 
            </section>
        </article>

        <article class= "articulo">
            <img src= '/img/img-macbook-pro-2019.jpg' width=75% alt='MacBook'>
            <section class="descripcion">
                <i class="fas fa-truck camion"></i>
                <section class="precioydescuento">
                    <p class="precio">$230.000</p>
                    <p class="descuentos">20%OFF</p>
                </section>
                <h4 class="nombre">MacBook Pro 2019 </h4></div>
            </section>
        </article>

        <article class="articulo">
            <img src= '/img/img-samsung-galaxy-s10.jpg' width=75% alt='Samsung galaxy'>
            <section class="descripcion">
                <i class="fas fa-truck camion" ></i>
                <section class="precioydescuento">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10%OFF</p>
                </section>
                <h4 class="nombre"> Samsung Galaxy </h4></div>
            </section>
        </article>

        <article class="articulo">
            <img src= '/img/img-tv-samsung-smart.jpg' width=75% alt='Samsung SmartTv'> 
            <section class="descripcion">
                <i class="fas fa-truck camion" ></i>
                <section class="precioydescuento">
                    <p class="precio">$23.200</p>
                    <p class="descuentos">5%OFF</p>
                </section>
                <h4 class="nombre">SmartTv Samsung 43"</h4>
            </section>
        </article>
        
    </section>
        


    <section class="ofertas">

        <h3> Ofertas </h3>

        <article class= "articulo">
            <img src= '/img/img-cafetera-moulinex.jpg' width=75% alt='cafetera'>
            <section class="descripcion">
                <i class="fas fa-truck camion" ></i>
                <section class="precioydescuento">
                    <p class="precio">$6.770</p>
                    <p class="descuentos">40%OFF</p>
                </section>
                <h4 class="nombre"> Cafetera Moulinex </h4> 
            </section>
        </article>

        <article class= "articulo">
            <img src= '/img/img-macbook-pro-2019.jpg' width=75% alt='MacBook'>
            <section class="descripcion">
                <i class="fas fa-truck camion"></i>
                <section class="precioydescuento">
                    <p class="precio">$230.000</p>
                    <p class="descuentos">20%OFF</p>
                </section>
                <h4 class="nombre">MacBook Pro 2019 </h4></div>
            </section>
        </article>

        <article class="articulo">
            <img src= '/img/img-samsung-galaxy-s10.jpg' width=75% alt='Samsung galaxy'>
            <section class="descripcion">
                <i class="fas fa-truck camion" ></i>
                <section class="precioydescuento">
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10%OFF</p>
                </section>
                <h4 class="nombre"> Samsung Galaxy </h4></div>
            </section>
        </article>

        <article class="articulo">
            <img src= '/img/img-tv-samsung-smart.jpg' width=75% alt='Samsung SmartTv'> 
            <section class="descripcion">
                <i class="fas fa-truck camion" ></i>
                <section class="precioydescuento">
                    <p class="precio">$23.200</p>
                    <p class="descuentos">5%OFF</p>
                </section>
                <h4 class="nombre">SmartTv Samsung 43"</h4>
            </section>
        </article>
        </section>
    </section>
    </main>

    <footer>
        <div class="footer">
        <section class="footer-sec">
            <i class="fas fa-credit-card" ></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section class="footer-sec">
                <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="footer-sec">
                <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </section>
        </div>  
        <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L. </h4>
       
    </footer>
</body>
</html>
    

</html>